.progress {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 20px;
}

.buttons {
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.styled {
	border-radius: 20px;
	background-color: orange;
	width: 20vw;
	height: 40px;
}